<h1>{{title}}</h1>
<div class="custom-container">
    <form action="/api" method="get" class="text-center mb-4">
      <div class="form-group">
        <input type="text" name="search" class="form-control form-control-lg" placeholder="Buscar por nombre o casa" value="{{searchTerm}}">
      </div>
      <button type="submit" class="btn btn-custom btn-lg">Buscar</button>

    </form>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>House</th>
            <th>Date of Birth</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {{#each characters}}
        <tr>
            <td>{{name}}</td>
            <td>{{house}}</td>
            <td>{{dateOfBirth}}</td>
<td>
  {{#if image}}
    <img src="{{image}}" alt="{{name}}">
  {{else}}
    <img src="/assets/noImg.jpeg" alt="Imagen no disponible">
  {{/if}}
</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>